@media screen and (max-width: 480px) {

    .container {
        padding: 20px;
        padding-top: 60px;
        max-width: 60rem;
    }

    .container img {
        padding: 0px;
        padding-top: 20px;
    }

    .btn {
        font-size: 32px !important;
    }
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section {
    width: 50%;
}

form {
    margin: 2em;
}

p::first-letter {
    color: hotpink;
    font-size: x-large;
}

.broider {
    /* Courtesy of https://maxbittker.github.io/broider/ */
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAACQUlEQVR4Xu2cQW4CMRAE4Wd5Gk/Lz8g1mEOpNb1mtVSuvW6Pyz0GLGXvN/+qBO5VN81uAi2HQKC7gT4fv8//c94fPy+bQHq53rod1U/6WhAmlAxJrxMoG1L9pAt0IUDASBfobqC0I1OdOvbs/lTf2xlKA6a6QMNPdQIuUIFGXxPjlp8mjMav+jTxbT+qR6BLB9KGCzT8miRQIvBpoOmZQy0QrvdGfqR/er7T/ZYnYKQLNGxJgYaRIWCkh9PVjxhs+fRMTRd0tuenGybQ8MihAAhUoJSRmb695WflXn903PLXRzJboUBn/N5GC1SgZQJlOxMq0DKBsp0JFWiZQNnOhAq0TKBsZ0J3A6XLAtLL9dbtqH7S14IwoWRIep1A2ZDqJ12g4f2nQMMEEzDS44SuA9IJwvV9/PHp+vAMFejrP2nQjgs0PFMFSgR2A6UzhfRwPdsfp/pJjz+UyJD07YTCCal+0gUatrhAz57QsL6vfzz+2vT1xACAQMsJEahAywTKdiZUoGUCZTsTKtAygbKdCRVomUDZzoTuBkq3LaSX663bUf2ke33n9V09lC+GlEDSTejuhNKOTHXK29n9qb74nSNkSLpAfc3Qsa8ZogSSbkLLr+EhoKs+3aC2H9UTn6EEhCak8W0AbT9an0DLHSjQo4GmLUIt0G7xs8+Ht020ANIFevBPMwJMG0Q6+R/dgSa0/Fp5BJruaJqQsz0/7QCBhkccBUCgAqWMzPTtLT8r9/qj45a/PpLZCgU64/c2WqBloH/P1MCCUTjo+QAAAABJRU5ErkJggg==")
        28 / 28px / 0 round;
    border-width: 28px;
    border-style: solid;
}
 